body {
	background-color: #FFEBD6;
	text-align: center;
}

h1 {
	color: #4D97C9;
}

section {
	border: 2px solid #4D97C9;
	border-radius: 10px;
	width: 30%;
	margin: 0 auto;
	padding: 10px;
	background-color: #FFFFF5;
}

#temp {
	font-size: 7em;
	margin: 30px 0;
}

/*input[type=checkbox] {
	display:none;
}

input[type=checkbox] + label:before; {
	font-family: FontAwesome;
	display: inline-block;
}*/